.faith Faith
%p#notice= notice
%h1 DHH's Prayer
%p Our DHH who art in Spain,
%p Hallowed be thy name.
%p Thy framework come.
%p Thy will be done
%p on Rails as it is in #{link_to 'Basecamp', 'https://basecamp.com/'}.
%p Give us this day our daily code,
%p and forgive us our monkeypatches,
%p as we forgive those who flame us on twitter,
%p and lead us not into elixir,
%p but deliver us from phoenix.
%p For thine is the model,
%p and the view, and the controller,
%p for ever and ever
%p rails new
%h1 Members
%table
  %thead
    %tr
      %th{:colspan => "3"}
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to 'Show', member
        %td= link_to 'Edit', edit_member_path(member)
        %td= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Member', new_member_path
